body {
  color: #FFFFFF ;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
.font-raleway {
  font-family: 'Raleway', sans-serif;
}
section .btn {
  border: 0;
  font-size: 16px;
  font-weight: bold;
}
.flex{
  display: flex;
}
.justify-center{
  justify-content: center;
}
.align-center{
  align-items: center;
}
.bg-goldenrod {
  background-color: #fbb617 ;
}

/** NAVBAR**/
header a {
  text-decoration: none;
  color: #5d5c5a;
}

header{
  background-color: #fff;
}
nav .navbar-left img{
  padding-top: 15px;
}
nav .visible-xs, nav .hidden-xs{
  padding-top: 15px;
  padding-bottom: 15px;
}
/** SECCIÓN HERO **/
#hero {
  background-image: url(../img/taxi.jpg);
  background-repeat: no-repeat;
  overflow: hidden;
  height: 500px;
}
#hero .registro {
  display: inline-block;
  position: relative;
  top: 25%;
}
#hero .logo-blanco {
  height: 100%;
}
#hero .separador {
  display: flex;
  justify-content: center;
}
#hero .separador hr,
#hero .separador span
{
  width: 30%;
}

/*Section Info-Conduce*/
.containerConduce{
  background-image: url(../img/conduce.jpg);
  background-size: cover;
  background-position: center;
}
.textConduce .btn{
  margin-top: 10px;
}
.textConduce{
  overflow: hidden;
}
.bg-whiteBlack{
  background-color: rgba(12,12,12,0.6);
}

/** SECCIÓN TARIFA **/
#tarifa{
  color: white;
  padding: 7% 0;
}

.input-tarifa{
  background-color: transparent;
  border: 1px solid white;
  border-radius: 3px;
  font-family: 'Open Sans';
  margin: 20px;
  padding: 10px;
  width: 80%;
}

.input-tarifa::-webkit-input-placeholder {
  color: white;
}

#mapa {
  height:100%;
  width: 100%;
}

.border-map{
  border: 1px solid white;
  height: 400px;
  float: right;
  padding: 10px;
  width: 400px;
}

#costo{
  color: black;
  font-size: 32px;
  margin-top: 12px;
}

/** footer **/
footer{
  background-color: #2B2B2B;
  color: white;
  padding: 7% 0;
}

footer > div > div img{
  margin: 7% 0;
  width: 80%;
}

footer a, footer li {
  text-decoration: none !important;
  color: #fff;
}

.icons{
  font-size: 1.5rem;
  margin-right: 10px;
  margin-bottom: 30px;
}

.flex{
  display: flex;
  align-items: flex-start;
}

.reverse{
  display: flex;
  flex-direction: column-reverse;
}

@media (min-width: 768px) {
  footer > div > div img {
    width: 70%;
  }

  .flex{
    align-items: flex-end;
  }

  .reverse{
    flex-direction: column;
  }
}

@media (max-width: 992px) {
  h1 {
    font-size: 30px;
  }
  #hero {
    background-size: 100% 100%;
    background-position: center;
    height: 500px;
  }
  #hero .registro {
    left: 25%;
    width: 75%;
  }
  #hero .registro {
    padding: 5px 25px 25px 25px;
  }
  #hero .logo-blanco {
    width: 75px;
  }
  #hero h3 {
    margin-top: 0;
  }
  .textConduce .subTitle{
    font-size: 2.55rem;
    color: white;
  }
  .textConduce .btn{
    width: 90%;
    color: white;
    font-size: 1.9rem;
  }
  .textConduce{
    margin: 200px 10px;
  }
  .containerMobile{
    padding: 50px 10px;
    font-size: 3rem;
  }
  .containerMobile .imgMobile{
    border: 1px solid white;
    padding: 50px 10px;
  }
  .containerMobile .textMobileMb{
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom:10px;
    border:0;
  }
  .containerMobile img{
    width: 50%;
  }
  .containerMobile .col-xs-12 .padd-top{
    padding-top: 43px;
  }
}

@media (min-width: 768px) {
  #hero {
    background-size: 100% auto;
    background-position: center 91%;
    height: 650px;
  }
  #hero .registro {
    left: 60%;
    width: 40%;
  }
  #hero .registro {
    padding: 20px 40px 40px 40px;
  }
  #hero .logo-blanco {
    width: 100px;
  }
}

@media (min-width: 992px) {
  .textConduce .font-raleway{
    font-size: 2.7rem;
  }
  .textConduce .subTitle,
  .textConduce .btn{
    font-size: 1.6rem;
    color: white;
  }
  .textConduce{
    margin-top: 100px;
    margin-bottom: 220px;
    margin-left: 25px;
  }
  .containerMobile{
    padding: 40px 15px;
  }
  .containerMobile .imgMobile{
    border: 0;
  }
  .containerMobile .col-md-10{
    border: 1px solid white;
    font-size: 1.7em;
    padding: 30px 20px;
  }
  .containerMobile .col-md-10 .font-raleway{
    font-size: 1.5em;
  }
  .containerMobile img{
    width: 80%;
  }
}