.font-open{
  font-family: Open Sans;
}

.font-rale{
  font-family: Raleway;
}

/** styles Header navbar **/
.bg-white{
  background-color: white;
  margin: 0;
}

.border-o{
  border-radius: 0;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: white;
}

.nav-left{
  float: left;
  border: 0;
}

.p-20{
  padding: 20px;
}


@media (max-width: 767px) {
  .navbar-brand{
    position: absolute;
    left: 40%;
  }
}
/** section hero **/
#hero{
  background-image: url("../img/taxi.jpg");
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 600px;
}

.square-right{
  background-color: #F7B617;
  width: 40%;
  float: right;
  margin-top: 10%;
  color: white;
}

.f-24{
  font-size: 24px;
}

.f-16{
  font-size: 16px;
}

.preline{
  white-space: pre-line;
}

.p-top-bot-10{
  padding: 10px 0;
}

.line{
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid white;
}

.m-top-b-20{
  margin: 20px 0;
}

.f-32{
  font-size: 32px;
}

.m-top-18{
  margin-top: 18px;
}

@media (max-width: 767px) {
  .square-right{
    margin-top: 30%;
    width: 70%;
    padding: 40px;
  }
}
/** section informacion **/
#informacion{
  background-color: #F7B617;
  color: white;
  padding: 20px 0;
}

.m-auto{
  margin: auto;
}

.f-20{
 font-size: 20px;
}

.border-info{
  border: 1px solid white;
  border-top: 2px solid white;
  border-left: 0;
}

.p-20-info{
  padding: 20px 20px 20px 0;
}

@media (max-width: 767px) {
  .border-info{
    border-style: none;
  }

  .cel{
    margin-left: 25%;
  }

  .border-cel{
    border:1px solid white;
  }

  .p-20-info{
    padding: 20px;
  }
}

.f-14{
  font-size: 14px;
}
